<div class="mat-card my-5">
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="user.name"
               class="form-control mat-app-background"
               id="name"
               name="name"
               placeholder="Enter your name"
               required type="text">
        <div [hidden]="!name.pristine" class="alert mat-error">Name is required</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="user.email"
               pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required type="email">
        <div [hidden]="!email.pristine" class="alert mat-error">Email is required</div>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input #age="ngModel" [(ngModel)]="user.age"
               class="form-control"
               id="age"
               name="age"
               placeholder="Enter your age"
               required type="number">
        <div [hidden]="!age.pristine" class="alert mat-error">Age is required</div>
      </div>

      <button [disabled]="!userForm.form.valid" class="btn mat-raised-button mat-primary"
              type="submit">Submit
      </button>


    </form>
  </div>

</div>
