<div class="mat-card my-5">
  <div class="card-body mat-table">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
