<div class="card my-5">
  <div class="card-body">

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      </tr>
      </tbody>
    </table>

    <ag-grid-angular
      style="width: 500px; height: 150px;"
      class="ag-theme-alpine-dark"
      [users]="users"
    ></ag-grid-angular>

  </div>
</div>
