<div class="row mat-app-background">
  <div class="col-md-12">
    <div class="mat-card my-5">
      <div class="card-body">
        <h2 class="card-title text-center py-3">{{ title }}</h2>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <md-button class="btn mat-raised-button mat-primary" routerLink="/users">List Users</md-button>
          </li>
          <li class="list-inline-item">
            <md-button class="btn mat-raised-button mat-primary" routerLink="/adduser">Add User</md-button>
          </li>
          <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
          </mat-slide-toggle>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<span class="mat-app-background container">

    Something

</span>

