pandas==2.0.2
dataclasses~=0.6
numpy==1.24.3
# DON'T UPGRADE SCHEDULE, it seems to break the plugin
schedule==1.1.0
django-scheduler==0.10.1
pip==23.2.1
datetime==5.1
psycopg2==2.9.6
sqlalchemy==2.0.15
pipenv~=2023.8.23
python-dotenv~=1.0.0